/* Example of custom stylesheet */
header {
  --georchestra-header-primary: #000 !important; 
  --georchestra-header-secondary: #333;
  --georchestra-header-primary-light: #000;
  --georchestra-header-secondary-light: #eee;
}
.admin-dropdown > li.active {
  background-color: red;
  color: white;
}
