/* Example of custom stylesheet */
header {
  --georchestra-header-primary: #000; 
  --georchestra-header-secondary: #333;
  --georchestra-header-primary-light: #000;
  --georchestra-header-secondary-light: #eee;
}
.admin-dropdown > li.active {
  background-color: red;
  color: white;
}

img {
max-width: 100%;
  height: auto;
  margin: 1.4em;
}

lg {
background: black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
