/* Example of custom stylesheet */
header {
  --georchestra-header-primary: black; /* connection button and selected line bellow */
  --georchestra-header-secondary: #333;
  --georchestra-header-primary-light: white;
  --georchestra-header-secondary-light: #eee;
}
.admin-dropdown > li.active {
  background-color: red;
  color: white;
}
